<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Test01</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>user.UserCount</listener-class>
	</listener>

	<servlet>
		<!-- 서블릿을 불러오기 위해 WAS에게 주는 정보 -->
		<!-- 1. 배포할 Servlet 2. 해당 Servlet 매핑 URL -->
		<servlet-name>CommentWrite</servlet-name>
		<servlet-class>comment.CommentWrite</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RecommendAction</servlet-name>
		<servlet-class>board.RecommendAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatRoomCreate</servlet-name>
		<servlet-class>chat.ChatRoomCreate</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommentWrite</servlet-name>
		<url-pattern>/CommentWrite.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RecommendAction</servlet-name>
		<url-pattern>/RecommendAction.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChatRoomCreate</servlet-name>
		<url-pattern>/ChatRoomCreate.do</url-pattern>
	</servlet-mapping>

</web-app>